:root {
	--font-primary: sans-serif;

	--color-primary: #1f1f1f;
	--color-secondary: #ffffff;

	--color-1: #394A33;
	--color-2: #F2ECDC;
	--color-3: #394A33;
	--color-4: #273223;
	--color-5: #d4a373;
	--color-6: #dcd7c961;

	--color-background--light: #ffffff;
	--color-background--beige: #F2ECDC;
	--color-background--dark: #273622;
	--color-background--dark--opacity: #10101068;
	--color-background--dark--dark: #273622;

	--color-button--dark: #1f1f1f;
	--color-button--dark--hover: #1f1f1f;

	--color-button--light: #ffffff;
	--color-button--light--hover: #737373;

	--color-button-text--dark: #1f1f1f;
	--color-button-text--light: #ffffff;

	--color-text--dark: #1f1f1f;
	--color-text--light: #aaaaaa;
	--color-text--white: #ffffff;

	--desktop-width: 1440;
	--mobile-width: 430;
}